/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
/* start image slider css */
@import 'reset';
@import 'navbar';
@import 'signup';
@import 'bakeries';
@import 'reviews';
@import 'review_modal';
@import 'users';
@import 'home';
.App{
    transition-duration: 0.5s;
}

.option-carousel{
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    white-space: nowrap;
    position: relative;
    transform: translateX(-0.3125rem);
    //width: calc(100% + 0.625rem);
    overflow: hidden;
    padding: 0px 1rem 0.75rem;
    .carousel-items{
        flex: 0 0 auto;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(5, minmax(0px, 1fr));
        backface-visibility: hidden;
        height: 100%;
        position: static;
        top: 0px;
        white-space: nowrap;
        width: 100%;
        gap: 24px;
        margin: 0px;
        padding: 0.3125rem 0.3125rem 0px;
        transition: transform 300ms ease 0s;
        .carousel-item{
            white-space: initial;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            position: relative;
            box-shadow: none;
            min-height: 14rem;
            overflow: hidden;
            .carousel-body{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                padding-top: 0.75rem;
                height: 7.375rem;
                position: relative;
                .carousel-bottom{
                    box-sizing: border-box;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    min-height: 0.875rem;
                    -webkit-box-pack: start;
                    justify-content: flex-start;
                    position: absolute;
                    bottom:0px;
                    span{
                        align-items: flex-end;
                        color: rgb(102, 102, 102);
                        font-size: 0.6875rem;
                        font-weight: 600;
                        line-height: 0.6875rem;
                        margin-left: 0.1875rem;
                    }
                    svg{
                        height: 12px;
                        width: 60px;
                    }
                }
                .carousel-type{
                    color: rgb(124, 124, 124);
                    font-size: 0.75rem;
                    margin-bottom: 0.25rem;
                    display: inline-block;
                    max-width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow-wrap: normal;
                    overflow: hidden;
                }
                .carousel-name{
                    color: rgb(74, 74, 74);
                    max-width: 100%;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    font-size: 1.125rem;
                    font-weight: 500;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                    line-height: 1.25rem;
                    margin-bottom: 0.25rem;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    white-space: normal;
                    overflow-wrap: break-word;
                    overflow: hidden;
                }
                .carousel-location{
                    color: rgb(124, 124, 124);
                    font-size: 0.75rem;
                    margin-bottom: 0.25rem;
                    display: inline-block;
                    max-width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow-wrap: normal;
                    overflow: hidden;
                }
            }
            .carousel-header{
                padding-bottom: 100%;
                position: relative;
                width: 100%;
                border-bottom: none;
                overflow: inherit;
                svg{
                    position: absolute;
                    bottom: -1rem;
                    max-width: 2.5rem;
                    max-height: 3.4375rem;
                }
                div{
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    img{
                        max-height: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        min-width: 100%;
                        object-fit: cover;
                        border-radius: 0px;
                    }
                }
            }
        }
    }
    .closed{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(5, minmax(0px, 1fr));
        backface-visibility: hidden;
        height: 100%;
        position: absolute;
        top: 0px;
        white-space: nowrap;
        width: 100%;
        gap: 24px;
        margin: 0px;
        padding: 0.3125rem 0.3125rem 0px;
        transition: transform 300ms ease 0s;
    }
    .current{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(5, minmax(0px, 1fr));
        backface-visibility: hidden;
        height: 100%;
        position: absolute;
        top: 0px;
        white-space: nowrap;
        width: 100%;
        gap: 24px;
        margin: 0px;
        padding: 0.3125rem 0.3125rem 0px;
        transition: transform 300ms ease 0s;
    }
}
.open-status.open{
    font-weight: 600;
    font-size: 0.75rem;
    margin-right: 0.375rem;
    text-transform: uppercase;
    color: rgb(0, 205, 190);
}
.open-status.closed{
    font-weight: 600;
    font-size: 0.75rem;
    margin-right: 0.375rem;
    text-transform: uppercase;
    color: rgb(192, 18, 76);
}
.inner-reviews-container{
    .review:not(:nth-of-type(1)){
        margin-top: 16px;
    }
    .review{
        animation: 400ms ease 0s 1 normal none running hKJDIw;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
        border-radius: 3px;
        overflow: hidden;
        a.user-info{
            box-sizing: border-box;
            align-items: flex-start;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            display: flex;
            height: 3.75rem;
            position: relative;
            line-height: 1.125rem;
            margin: 0px 0px 1.5rem;
            padding: 0.75rem 1rem 0px 4.5rem;
            .user-img{
                height: 2.5rem;
                left: 1rem;
                position: absolute;
                top: 1rem;
                width: 2.5rem;
                img{
                    width: auto;
                    height: auto;
                    border-radius: 0.1875rem;
                }
            }
        }
        .review-stars{
            box-sizing: border-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: start;
            justify-content: flex-start;
            padding: 0px 1rem;
            .given-stars{
                margin: 0px;
            }
        }
        .review-time{
            box-sizing: border-box;
            order: 5;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            user-select: none;
            padding: 0.5rem;
            time{
                margin-left: auto;
                white-space: nowrap;
                color: rgb(124, 124, 124);
                font-size: 0.8125rem;
                line-height: 1rem;
                padding: 0.5rem;
            }
        }
        h3.review-title{
            box-sizing: border-box;
            order: 3;
            color: rgb(74, 74, 74);
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 1.625rem;
            word-break: break-word;
            margin: 0px;
            padding: 0.5rem 1rem 0.25rem;
        }
        .review-body{
            box-sizing: border-box;
            order: 4;
            color: rgb(74, 74, 74);
            font-size: 1rem;
            line-height: 1.5rem;
            word-break: break-word;
            padding: 0.25rem 1rem 0.75rem;
        }
    }
    @media only screen and (min-width: 640px){
        .review:not(:nth-of-type(1)) {
            margin-top: 24px;
        }
    }
}
.nav-container{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(230, 229, 229) 0px 0.0625rem 0px inset, rgb(230, 229, 229) 0px -0.0625rem 0px inset;
    .nav{
        display: flex;
        position: relative;
        overflow: auto;
        max-width: 75rem;
        -webkit-box-align: baseline;
        align-items: baseline;
        margin: 0px auto;
        padding: 0px 1rem;
        .nav-link-container.active{
            border-bottom: 0.125rem solid rgb(0, 205, 190) !important;
        }
        .nav-link-container{
            display: flex;
            -webkit-box-align: stretch;
            align-items: stretch;
            flex: 1 0 auto;
            border-bottom: 4px solid transparent;
            height: 3.5rem;
            box-sizing: border-box;
            -webkit-box-flex: 0 !important;
            flex-grow: 0 !important;
            .dummy-link{
              cursor: default;
            }
            .dummy-link:after{
              content: " Coming Soon";
              color: red;
              font-style: italic;
              font-size: 0.65rem;
              text-transform: capitalize;
            }
            .nav-link{
                width: 100%;
                a{
                    justify-content: space-evenly;
                    font-weight: 600;
                    color: rgb(74, 74, 74) !important;
                    font-size: 0.875rem;
                    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
                    font-weight: normal;
                    margin-bottom: 0px;
                    text-align: center;
                    text-transform: uppercase;
                    line-height: 3.5rem;
                    width: 100%;
                    display: flex !important;
                    padding: 0px 1rem;
                    text-decoration: none;
                }
            }
            
        }
        @media only screen and (max-width: 639px){
            .nav-link-container:first-child:nth-last-child(n+4), .nav-link-container:first-child:nth-last-child(n+4) ~ .nav-link-container {
                width: auto;
            }
            .nav-link-container:first-child:nth-last-child(n+3) .nav-link, .nav-link-container:first-child:nth-last-child(n+3) ~ .nav-link-container .nav-link {
                width: 100%;
            }
            .nav-link-container:first-child:nth-last-child(n+3), .nav-link-container:first-child:nth-last-child(n+3) ~ .nav-link-container {
                width: 50%;
            }
            .nav-link-container:first-child:nth-last-child(n+3) a, .nav-link-container:first-child:nth-last-child(n+3) ~ .nav-link-container a {
                -webkit-box-pack: center;
                justify-content: center;
            }
        }
    }
    @media only screen and (max-width: 639px){
        .nav {
            padding: 0px;
        }
    }
}
.image-slider-container {
    width:100%;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in-out;
}
.image-slider {

    width: 100%;
    height: 25rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    max-width: 74.375rem;
}
.image-slider-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.image-slide {
    transition: opacity 1s ease-in-out;
    flex:0 0 auto;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
    // padding-left: 1.5rem;
    margin: 0px auto;
    .options{
        padding: 0 2rem;
        align-self: center;
        width: 100%;
        z-index: 2;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        grid-area: 1 / 1 / span 6 / span 5;
        .title{
            box-sizing: border-box;
            display: flex;
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
        .body{
            box-sizing: border-box;
            font-family: weedmaps-sans, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
            height: 100%;
            line-height: 5rem;
            font-size: 2.3125rem;
            font-weight: 900;
            line-break: auto;
            text-transform: uppercase;
            margin-bottom: 0.25rem;
            padding: 0px;
        }
        a, button{
            -webkit-box-align: center;
            align-items: center;
            position: relative;
            display: flex;
            align-content: center;
            -webkit-box-pack: center;
            justify-content: center;
            font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
            height: 40px;
            text-transform: uppercase;
            cursor: pointer;
            background-color: black;
            color: white;
            min-width: 6.25rem;
            max-width: 8.25rem;
            font-size: 0.875rem;
            line-height: 0.875rem;
            font-weight: 600;
            text-align: center;
            z-index: 2;
            border-width: 1px;
            border-style: solid;
            border-image: initial;
            border-color: rgb(204, 204, 204);
            transition: all 150ms ease-in-out 0s;
            padding: 0.375rem 1rem;
            border-radius: 6.25rem;
        }
    }
}
.cursor-text:hover{
    cursor: text;
}
/* end image slider css */

a {
    color: rgb(0, 205, 190);
    cursor: pointer;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
    text-rendering: optimizelegibility;
    margin: 0px;
}
h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 60px;
}
h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 * {
    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
button {
    outline: none;
}
#bakery-map-container{
    position: relative;
}
body{
    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
a img {
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
    text-rendering: optimizelegibility;
    margin: 0px;
}

// input {
//     -webkit-writing-mode: horizontal-tb !important;
//     text-rendering: auto;
//     color: -internal-light-dark-color(black, white);
//     letter-spacing: normal;
//     word-spacing: normal;
//     text-transform: none;
//     text-indent: 0px;
//     text-shadow: none;
//     display: inline-block;
//     text-align: start;
//     -webkit-appearance: textfield;
//     background-color: -internal-light-dark-color(white, black);
//     -webkit-rtl-ordering: logical;
//     cursor: text;
//     margin: 0em;
//     font: 400 11px system-ui;
//     padding: 1px;
//     border-width: 2px;
//     border-style: inset;
//     border-color: initial;
//     border-image: initial;
// }
a {
    color: rgb(0, 205, 190);
    cursor: pointer;
    text-decoration: none;
}
dl, dd, dt {
    margin: 0px;
}
textarea {
    overflow-wrap: break-word;
    overflow: auto;
}
textarea, select {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.0625rem 0.125rem inset;
    display: block;
    font-family: inherit;
    font-size: 100%;
    width: -webkit-fill-available;
    border-width: 0.0625rem;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 0.1875rem;
    outline: initial;
    overflow: visible;
    transition: box-shadow 500ms ease 0s, border-color 250ms ease-in-out 0s;
}
.given-stars{
    margin: 0px 0.5rem;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    .star-container{
        animation-fill-mode: forwards;
        .star{
            width: 1.25rem;
            height: 1.25rem;
            .empty-star{
                width: 1.25rem;
                height: 1.25rem;
                position: absolute;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
            }
            .filled-star{
                overflow: hidden;
                height: 1.25rem;
                div {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    position: relative;
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
        }
    }
    .star-container:nth-of-type(1){
        left: 0px;
        animation: 550ms ease 0s 1 normal none running fmzNrq;
    }
    .star-container:nth-of-type(2){
        left: 20%;
        animation: 600ms ease 0s 1 normal none running hgUUPo;
    }
    .star-container:nth-of-type(3) {
        left: 40%;
        animation: 650ms ease 0s 1 normal none running cGnLJl;
    }
    .star-container:nth-of-type(4) {
        left: 60%;
        animation: 700ms ease 0s 1 normal none running RWjEv;
    }
    .star-container:nth-of-type(5) {
        left: 60%;
        animation: 700ms ease 0s 1 normal none running RWjEv;
    }
    .cBNdgk:nth-of-type(n+5) {
        left: 80%;
        animation: 750ms ease 0s 1 normal none running iWTZYX;
    }
}
@keyframes fmzNrq{
    0%, 0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 1) rotate(180deg);
    }
    50% {
        opacity: 0.5;
        transform: scale3d(1.2, 1.2, 1) rotate(-15deg);
    }
    75% {
        opacity: 0.5;
        transform: scale3d(0.8, 0.8, 1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
@keyframes hgUUPo{
    0%, 20% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 1) rotate(180deg);
    }
    60% {
        opacity: 0.5;
        transform: scale3d(1.2, 1.2, 1) rotate(-15deg);
    }
    80% {
        opacity: 0.5;
        transform: scale3d(0.8, 0.8, 1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
@keyframes cGnLJl{
    0%, 40% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 1) rotate(180deg);
    }
    70% {
        opacity: 0.5;
        transform: scale3d(1.2, 1.2, 1) rotate(-15deg);
    }
    85% {
        opacity: 0.5;
        transform: scale3d(0.8, 0.8, 1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
@keyframes RWjEv{
    0%, 60% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 1) rotate(180deg);
    }
    80% {
        opacity: 0.5;
        transform: scale3d(1.2, 1.2, 1) rotate(-15deg);
    }
    90% {
        opacity: 0.5;
        transform: scale3d(0.8, 0.8, 1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
@keyframes iWTZYX{
    0%, 80% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 1) rotate(180deg);
    }
    90% {
        opacity: 0.5;
        transform: scale3d(1.2, 1.2, 1) rotate(-15deg);
    }
    95% {
        opacity: 0.5;
        transform: scale3d(0.8, 0.8, 1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.star-select{
    display: inline-flex;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    button{
        padding: 0px 0.25rem;
        width: 2.375rem;
        height: 2.375rem;
        max-width: 320px;
        user-select: none;
        -webkit-box-align: center;
        align-items: center;
        box-sizing: content-box;
        display: flex;
        cursor: pointer;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        background: transparent;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        .empty-star{
            width: 2.375rem;
            height: 2.375rem;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            position: relative;
            svg{
                position: absolute;
            }
        }
        .full-star:hover{
            opacity: 1;
        }
        .full-star.hovered{
            opacity: 1;
        }
        .full-star{
            padding: 0px 0.25rem;
            box-sizing: content-box;
            opacity: 0;
            position: absolute;
            transition: opacity 300ms ease-in-out 0s;
            div{
                width: 2.375rem;
                height: 2.375rem;
                position: relative;
                svg{
                    position: absolute;
                    left: 0px;
                }
            }
        }
    }
}

mark.errors{
    position: static;
    transform: scaleY(1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    left: 0px;
    right: 0px;
    transform-origin: center top;
    background: rgb(255, 51, 102);
    transition: transform 300ms ease-in-out 0s;
    li{
        padding: 0.5rem;
    }
}

.none-found{
    text-align: center;
    color: rgb(155, 155, 155);
    margin: 0px auto;
    padding: 6rem 0px;
}

.bottom-banner-container{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 103, 99);
    height: 12.8125rem;
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;
    .bottom-banner{
        display: grid;
        grid-template-columns: 3fr 2fr;
        height: 100%;
        grid-column-gap: 1rem;
        .bottom-banner-links{
            text-align: center;
            display: flex;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            h5{
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }
            .links{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                -webkit-box-align: center;
                align-items: center;
                width: 100%;
                svg{
                    margin-right: 0.75rem;
                    height: 24px;
                    width: 24px;
                }
            }
            .links > a{
                background-color: white;
                font-weight: 700;
                line-height: 1rem;
                text-align: left;
                color: rgb(0, 103, 99);
                display: flex;
                -webkit-box-pack: start;
                justify-content: flex-start;
                width: 100%;
                max-width: 8.25rem;
                border-radius: 1.75rem;
                padding: 1rem;
                text-decoration: none;
                align-items: center;
            }
            .links > a:first-child{
                margin-bottom: 1rem;
            }
        }
    }
}
@media only screen and (min-width: 1024px){
    .bottom-banner-container {
        height: 11.125rem;
        margin-top: 4.0625rem;
        .bottom-banner {
            width: 60%;
            max-width: 75rem;
        }
    }
}
@media only screen and (max-width: 1023px){
  .slide-out {
      position: fixed;
      width: 100%;
      height: 100%;
      transform: translate3d(17.5rem, 0px, 0px);
      transition-duration: 0.5s;
      backface-visibility: hidden;
      perspective: 62.5rem;
    .overlay{
      background-color: rgba(0, 0, 0, 0.4);
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 10000;
    }
  }
}
@media only screen and (min-width: 1023px){
    .option-carousel .carousel-items .carousel-item{
        min-height: 14.25rem;
    }
}
@media screen and (min-width: 832px){
    .option-carousel {
        .carousel-items {
            .carousel-item {
                .carousel-header {
                    .carousel-marker {
                        bottom: -1.5rem;
                        max-width: 3.375rem;
                        max-height: 3.75rem;
                    }
                }
            }
        }
    }
    .app-footer {
        flex-direction: column;
        padding-top: 3rem;
        padding-left: 0px;
        padding-right: 0px;
        .inner-info{
            -webkit-box-align: center;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
            p{
                font-size: 1.125rem;
                color: rgb(124, 124, 124);
                line-height: 1.5;
                max-width: 26.25rem;
                margin: 1rem 0px;
            }

        }
    }
}
@media only screen and (min-width: 640px){
    .image-slide{
        height: 25rem;
        .options{
            .title{
                font-size: 1.625rem;
                line-height: 1.625rem;
                margin-bottom: 1rem;
            }

        }
    }
    .app-footer{
        flex-direction: column;
        padding-top: 3rem;
        padding-left: 0px;
        padding-right: 0px;
        .inner-info{
            -webkit-box-align: center;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    .bottom-banner-container {
        height: 9.8125rem;
        margin-top: 2.1875rem;
        .bottom-banner {
            max-width: 75%;
            margin: 0px auto;
            .bottom-banner-links{
                text-align: left;
                h5{
                    flex-direction: row;
                    -webkit-box-pack: start;
                    justify-content: flex-start;
                }
                .links{
                    flex-direction: row;
                    -webkit-box-pack: start;
                    justify-content: flex-start;
                }
                .links > a:first-child{
                    margin-bottom: 0px;
                    margin-right: 0.75rem;
                }
            }
        }
    }
}
@media only screen and (min-width: 380px){
    .app-footer .socials a {
        height: 2rem;
        width: 1.5rem;
        margin: 0.75rem;
    }
}
.app-footer{
    -webkit-box-align: center;
    position: relative;
    text-align: center;
    z-index: 2;
    background: rgb(255, 255, 255);
    border-top: 0.0625rem solid rgb(230, 229, 229);
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 3rem;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    .inner-info{
        box-sizing: border-box;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        width: 100%;
        max-width: 75rem;
        .socials{
            box-sizing: border-box;
            flex-direction: row;
            display: flex;
            a:first-child {
                margin-left: 0px;
            }
            a{
                box-sizing: border-box;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                display: flex;
                height: 2.5rem;
                width: 2.5rem;
                background: rgb(255, 255, 255);
                margin: 0.75rem 0.125rem;
            }
        }
    }
}