#bakery-map{
    height: 100%;
    width: 100%;
}
#bakery-map-container{
    height: 100%;
}
.bakery-map-container > div{
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex: 1;
    height: calc(100vh - 98px);
    flex-direction: column;
}

#map-header{
    padding: 1.25rem 1rem 1rem 2rem;
}
#map-header .navigation-container {
    box-sizing: border-box;
    display: flex;
}
#map-header .navigation-container .navigation{
    box-sizing: border-box;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-box-align: center;
    align-items: center;
}
#map-header .navigation-container .navigation a{
    text-transform: uppercase;
    font-size: 0.75rem;
    flex: 0 0 auto;
}
#map-header .navigation-container .navigation .arrow{
    box-sizing: border-box;
    margin-left: 6px;
    margin-right: 6px;
}
.bm-icon.bm-arrow{
    transform:rotate(-90deg);
}
#map-header .navigation-container .navigation .selected-navigation{
    text-transform: uppercase;
    font-size: 0.75rem;
    color: rgb(124, 124, 124);
    flex: 0 0 auto;
}
#map-header .listing-description{
    
    background-color: rgb(255, 255, 255);
    color: rgb(74, 74, 74);
    font-size: 1.5rem;
    padding: 0.5rem 0px 0px;
}
#map-header .listing-description .listing-type{
    font-weight: 600;
}

#map-header .listing-buttons{
    box-sizing: border-box;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0px -1rem -0.5rem;
    padding: 0.5rem 1rem;
}
@media only screen and (min-width: 832px){
    #map-header .listing-buttons {
        margin: 0px -1rem;
        padding: 0.5rem 1rem;
    }

}
#map-header .listing-buttons button{
    margin: 0;
}
#map-header .listing-buttons button:not(:nth-of-type(1)){
    margin-left: 0.5rem;
}
#map-header .listing-buttons button:hover{
    border-width: 0.0625rem;
    border-style: solid;
    border-color: rgb(0, 205, 190);
    border-image: initial;
}
#map-header .listing-buttons button.active{
    background-color: rgb(0, 205, 190) !important;
    color: rgb(255, 255, 255) !important;
    border-color: rgb(1, 168, 163) !important;
}
#map-header .listing-buttons button:not(.filter-button){
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    display: flex;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    z-index: 1;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(74, 74, 74);
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: none;
    height: 2rem;
    transition: all 150ms ease-in-out 0s;
    border-width: 0.0625rem;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    
}
.filter-separator {
   display: none;
    width: 0px;
    flex: 0 0 auto;
}
#map-header .listing-buttons button.filter-button svg{
    margin-right: 0.5rem;
}
#map-header .listing-buttons button.filter-button{
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 1;
    cursor: pointer;
    font-size: 0.875rem;
    height: 2rem;
    margin-right: 0.5rem;
    background-color: rgb(255, 255, 255);
    display: none;
    color: rgb(74, 74, 74);
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    transition: all 150ms ease-in-out 0s;
    flex: 0 0 auto;
    padding: 0px 0.5rem;
    border-color: rgb(204, 204, 204);
}
@media only screen and (min-width: 832px) {
    .filter-separator {
        display: block;
        border-right: 0.0625rem solid rgb(230, 229, 229);
        margin: 0px 1rem;
    }
    #map-header .listing-buttons button.filter-button{
        display: block;
        margin: 0px;
    }
}

.bakery-map-list-container {
    display: flex;
    flex: 1 1 0%;
}
.bakery-map-list {
    z-index: 490;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    top: 57%;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 1.5625rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.0625rem 0.1875rem 0px;
    user-select: none;
    transition: top 150ms ease 0s;
    background: rgb(255, 255, 255);
    border-radius: 0.25rem;
}
@media only screen and (min-width: 832px){
    .bakery-map-list {
        opacity: 1;
        padding-top: 0px;
        width: 375px;
        top: 2rem;
        bottom: 2rem;
        left: 2rem;
        height: auto;
        transform: none !important;
        transition: opacity 300ms ease 0s;
        overflow: hidden;
    }
}
.bakery-map-list-results{
    box-sizing: border-box;
    display: flex;
    background-color: rgb(242, 245, 245);
    padding-left: 1rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 3rem;
    border-bottom: 0.0625rem solid rgb(230, 229, 229);
    flex: 0 0 auto;
}
.bakery-map-list-results-num {
    font-size: 0.875rem;
    font-weight: 600;
}
.bakery-map-list-results-sort {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    max-width: 10.9375rem;
    width: 10.9375rem;
}
.bakery-map-list-results-sort > div {
    width: 100%;
}
.bakery-map-list-results-sort button {
    display: flex;
    font-size: 0.875rem;
    -webkit-box-pack: end;
    justify-content: flex-end;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: none;
    padding-left: 1rem;
    border-radius: 0.1875rem;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    height: 2.5rem;
    font-weight: 300;
    text-align: left;
    box-sizing: border-box;
    padding: 0px 1rem;
    outline: none;
    margin: 0px;
    color: rgba(0, 0, 0, 0.847);
    font-family: system-ui;
    box-shadow: none;
}
.bakery-map-list-results-sort button span {
    margin-right: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.arrow-down-svg{
    width:10px;
    height: 10px;
    margin-left: 0.5rem;
    transition: transform 0.3s ease 0s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}
.arrow-down-svg svg{
    transform:rotate(0deg)
}
.bakery-map-listings-container{
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    flex: 1 0 0%;
}
.bakery-map-listings{
    height: 100%;
}
.bakery-map-listing-item{
    background: rgb(255, 255, 255);
    border-bottom: 0.0625rem solid rgb(230, 229, 229);
}
.bakery-map-listing-item-card{
    width: 100%;
}
.bakery-map-listing-item-card a {
    box-sizing: border-box;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    cursor: pointer;
    outline: none;
}
.bakery-map-listing-item-card a > div {
    padding: 1rem;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    justify-content: stretch;
    display: flex;
}
.bakery-map-listing-item-card .item-card-picture-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-self: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 96px;
    height: 96px;
    position: relative;
    border-radius: 0px;
    overflow: hidden;
}
.bakery-map-listing-item-card .item-card-picture-container img{
    width: auto;
    height: auto;
    object-fit: fill;
    border-radius: 0px;
}
.item-card-info-container{
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-left: 1rem;
    max-width: calc(100% - 7rem);
}
.item-card-info-name{
    color: rgb(74, 74, 74);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    transform: translateY(-0.125rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item-card-info-rating, .item-card-info-info{
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: flex;
    color: rgb(102, 102, 102);
    font-size: 0.75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}
.item-card-info-closing{
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    color: rgb(102, 102, 102);
    font-size: 0.75rem;
}
.styled-dot{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 0;
    font-weight: 600;
    padding: 0px 0.125rem;
}
.redo-search-container{
    position: absolute;
    top: 1rem;
    left: 0px;
    right: 0px;
    z-index: 480;
    pointer-events: none;
}
@media only screen and (min-width: 832px) {
    .redo-search-container {
        padding-left: 24rem;
    }
}
.redo-search-button {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    pointer-events: all;
    margin: auto;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    color: rgb(74, 74, 74);
    display: flex;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    height: 40px;
    text-transform: uppercase;
    z-index: 1;
    cursor: pointer;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(204, 204, 204);
    padding: 0px 16px;
    transition: all 150ms ease-in-out 0s;
}